@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.space{
    margin: 200px 0;
}

.tengah{
    justify-content: center;
    align-items: center;
    display: flex;
}

.box{
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
    box-shadow: 5px 5px 10px #7f807f33;
}

.skill{
    display: flex;
    flex-wrap: wrap;
}

.slide{
    display: flex;
    justify-content: space-between;
}

.content{
    padding: 0 30px;
    border-left: 2px solid gray;
}

.boxContent{
    border: 2px solid gray;
    box-shadow: 2px 2px 5px rgb(105, 104, 104);
    border-radius: 15px;
    padding: 30px;
    margin: 30px 20px;
}

.footer{
    position:relative;
    width: 100%;
    bottom: 0;
}

